.wt_btnbox{
	margin: 1rem auto 0;
}
.input_right{
	position: absolute;
	top: 50%;
	margin-top: -0.2rem;
	right: 0.4rem;
	display: inline-block;
	min-width: 0.4rem;
	width: auto;
	height: 0.4rem;
	font-size: 0.4rem;
}
.is_zhuce_box{
	display: flex;
	align-items: center;	
}
.is_zhuce{
	font-size: 0.4rem;
	color: #333333;
	margin-right: 0.8rem;
}
.danxuan_zc{
	font-size: 0.4rem;
	color: #333333;
}



/*取消输入框右侧圆圈清除按钮*/
#mbmj .mui-input-row .mui-input-clear~.mui-icon-clear{
	display: none!important;
}